In [11]:
import pandas as pd

In [15]:

df= pd.read_csv("Pizza_Mirana_python.csv")
df.head(2)

,pizza_id,order_id,pizza_name_id,quantity,order_date,Mois,Jours,Jour Semaine,Jour de la semaine,Semaine : 1 / WE : 0,...,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_name,Quantity_pizzas,Value_unique_size,Count_ingredients,pizza_ingredients
0,1,1,hawaiian_m,1,01/01/2015,1,1,4,Jeudi,1,...,11:38:36,13.25,13.25,M,Classic,The Hawaiian Pizza,1,1,3,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,2,2,classic_dlx_m,1,01/01/2015,1,1,4,Jeudi,1,...,11:57:40,16.00,92.00,M,Classic,The Classic Deluxe Pizza,5,2,5,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."

In [16]:
# Séparer les ingrédients et créer une matrice d'identité
ingredients = df['pizza_ingredients'].str.get_dummies(sep=', ').astype(int)

In [17]:
# Afficher la matrice d'identité
print(ingredients)

       ?duja Salami  Alfredo Sauce  Anchovies  Artichoke  Artichokes  Arugula  \
0                 0              0          0          0           0        0
1                 0              0          0          0           0        0
2                 0              0          0          0           0        0
3                 0              0          0          0           0        0
4                 0              0          0          0           0        0
...             ...            ...        ...        ...         ...      ...
48615             0              1          0          0           0        0
48616             0              0          0          0           0        0
48617             0              0          1          0           0        0
48618             0              0          0          0           0        0
48619             0              0          0          0           0        0

       Asiago Cheese  Bacon  Barbecue Sauce  Barbecued Chicken  ...  \
0                  0      0               0                  0  ...
1                  0      1               0                  0  ...
2                  0      0               0                  0  ...
3                  0      0               0                  0  ...
4                  0      0               0                  0  ...
...              ...    ...             ...                ...  ...
48615              1      0               0                  0  ...
48616              0      0               0                  0  ...
48617              0      0               0                  0  ...
48618              0      0               0                  0  ...
48619              0      0               1                  1  ...

       Romano Cheese  Sliced Ham  Smoked Gouda Cheese  Soppressata Salami  \
0                  0           1                    0                   0
1                  0           0                    0                   0
2                  1           0                    1                   0
3                  0           0                    0                   0
4                  0           0                    0                   0
...              ...         ...                  ...                 ...
48615              0           0                    0                   0
48616              0           0                    0                   0
48617              0           0                    0                   0
48618              0           0                    0                   0
48619              0           0                    0                   0

       Spinach  Sun-dried Tomatoes  Thai Sweet Chilli Sauce  Thyme  Tomatoes  \
0            0                   0                        0      0         0
1            0                   0                        0      0         0
2            0                   0                        0      0         0
3            0                   0                        0      0         1
4            0                   0                        0      0         1
...        ...                 ...                      ...    ...       ...
48615        0                   0                        0      0         0
48616        0                   0                        0      0         0
48617        0                   0                        0      0         1
48618        0                   0                        0      0         1
48619        0                   0                        0      0         1

       Zucchini
0             0
1             0
2             0
3             0
4             0
...         ...
48615         0
48616         0
48617         0
48618         0
48619         0

[48620 rows x 65 columns]

In [18]:
dataf=pd.DataFrame(ingredients)

In [19]:
ingredients

,?duja Salami,Alfredo Sauce,Anchovies,Artichoke,Artichokes,Arugula,Asiago Cheese,Bacon,Barbecue Sauce,Barbecued Chicken,...,Romano Cheese,Sliced Ham,Smoked Gouda Cheese,Soppressata Salami,Spinach,Sun-dried Tomatoes,Thai Sweet Chilli Sauce,Thyme,Tomatoes,Zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48616,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48617,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
48618,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
48619,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0

In [20]:
df_combined=pd.concat([df,dataf],axis=1)

In [21]:
print(df_combined)

       pizza_id  order_id  pizza_name_id  quantity  order_date  Mois  Jours  \
0             1         1     hawaiian_m         1  01/01/2015     1      1
1             2         2  classic_dlx_m         1  01/01/2015     1      1
2             3         2  five_cheese_l         1  01/01/2015     1      1
3             4         2    ital_supr_l         1  01/01/2015     1      1
4             5         2     mexicana_m         1  01/01/2015     1      1
...         ...       ...            ...       ...         ...   ...    ...
48615     48616     21348  ckn_alfredo_m         1  31/12/2015    12     31
48616     48617     21348  four_cheese_l         1  31/12/2015    12     31
48617     48618     21348   napolitana_s         1  31/12/2015    12     31
48618     48619     21349     mexicana_l         1  31/12/2015    12     31
48619     48620     21350      bbq_ckn_s         1  31/12/2015    12     31

       Jour Semaine Jour de la semaine  Semaine : 1 / WE : 0  ...  \
0                 4              Jeudi                     1  ...
1                 4              Jeudi                     1  ...
2                 4              Jeudi                     1  ...
3                 4              Jeudi                     1  ...
4                 4              Jeudi                     1  ...
...             ...                ...                   ...  ...
48615             4              Jeudi                     1  ...
48616             4              Jeudi                     1  ...
48617             4              Jeudi                     1  ...
48618             4              Jeudi                     1  ...
48619             4              Jeudi                     1  ...

      Romano Cheese Sliced Ham  Smoked Gouda Cheese  Soppressata Salami  \
0                 0          1                    0                   0
1                 0          0                    0                   0
2                 1          0                    1                   0
3                 0          0                    0                   0
4                 0          0                    0                   0
...             ...        ...                  ...                 ...
48615             0          0                    0                   0
48616             0          0                    0                   0
48617             0          0                    0                   0
48618             0          0                    0                   0
48619             0          0                    0                   0

      Spinach Sun-dried Tomatoes Thai Sweet Chilli Sauce  Thyme  Tomatoes  \
0           0                  0                       0      0         0
1           0                  0                       0      0         0
2           0                  0                       0      0         0
3           0                  0                       0      0         1
4           0                  0                       0      0         1
...       ...                ...                     ...    ...       ...
48615       0                  0                       0      0         0
48616       0                  0                       0      0         0
48617       0                  0                       0      0         1
48618       0                  0                       0      0         1
48619       0                  0                       0      0         1

       Zucchini
0             0
1             0
2             0
3             0
4             0
...         ...
48615         0
48616         0
48617         0
48618         0
48619         0

[48620 rows x 86 columns]

In [27]:
# je le mets dans un dataframe
data_fr=pd.DataFrame(df_combined)

In [30]:
print(data_fr)

       pizza_id  order_id  pizza_name_id  quantity  order_date  Mois  Jours  \
0             1         1     hawaiian_m         1  01/01/2015     1      1
1             2         2  classic_dlx_m         1  01/01/2015     1      1
2             3         2  five_cheese_l         1  01/01/2015     1      1
3             4         2    ital_supr_l         1  01/01/2015     1      1
4             5         2     mexicana_m         1  01/01/2015     1      1
...         ...       ...            ...       ...         ...   ...    ...
48615     48616     21348  ckn_alfredo_m         1  31/12/2015    12     31
48616     48617     21348  four_cheese_l         1  31/12/2015    12     31
48617     48618     21348   napolitana_s         1  31/12/2015    12     31
48618     48619     21349     mexicana_l         1  31/12/2015    12     31
48619     48620     21350      bbq_ckn_s         1  31/12/2015    12     31

       Jour Semaine Jour de la semaine  Semaine : 1 / WE : 0  ...  \
0                 4              Jeudi                     1  ...
1                 4              Jeudi                     1  ...
2                 4              Jeudi                     1  ...
3                 4              Jeudi                     1  ...
4                 4              Jeudi                     1  ...
...             ...                ...                   ...  ...
48615             4              Jeudi                     1  ...
48616             4              Jeudi                     1  ...
48617             4              Jeudi                     1  ...
48618             4              Jeudi                     1  ...
48619             4              Jeudi                     1  ...

      Romano Cheese Sliced Ham  Smoked Gouda Cheese  Soppressata Salami  \
0                 0          1                    0                   0
1                 0          0                    0                   0
2                 1          0                    1                   0
3                 0          0                    0                   0
4                 0          0                    0                   0
...             ...        ...                  ...                 ...
48615             0          0                    0                   0
48616             0          0                    0                   0
48617             0          0                    0                   0
48618             0          0                    0                   0
48619             0          0                    0                   0

      Spinach Sun-dried Tomatoes Thai Sweet Chilli Sauce  Thyme  Tomatoes  \
0           0                  0                       0      0         0
1           0                  0                       0      0         0
2           0                  0                       0      0         0
3           0                  0                       0      0         1
4           0                  0                       0      0         1
...       ...                ...                     ...    ...       ...
48615       0                  0                       0      0         0
48616       0                  0                       0      0         0
48617       0                  0                       0      0         1
48618       0                  0                       0      0         1
48619       0                  0                       0      0         1

       Zucchini
0             0
1             0
2             0
3             0
4             0
...         ...
48615         0
48616         0
48617         0
48618         0
48619         0

[48620 rows x 86 columns]

In [31]:
data_fr.to_csv('pizza_all.csv', index=False)